/* -------------------------------- 

Navbar

-------------------------------- */

.navbar {
  margin-bottom: 0;
  transition: top 0.2s ease-in-out;
}

@media (min-width: $grid-float-breakpoint){
	.navbar {
		border: 0;
		border-bottom: 1px solid $navbar-default-border;
	  border-radius: 0;
	}	
}

/* Navbar nav links */

.navbar-nav {

  /* underline on hover */
  @media (min-width: $grid-float-breakpoint) {

    > li:not(.open):hover {
      border-bottom: $active-border-size solid $brand-primary;

      >a {
        padding-bottom: $navbar-padding-vertical - $active-border-size;
      }
    }
  }
}

/* -------------------------------- 

Dashboard

-------------------------------- */

.profile-picture {
  max-height: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------- 

@media only print

-------------------------------- */

@media only print {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: #{percentage(round($i*8.33)/100)};
      float: left;
    }
    .col-sm-#{$i} {
      width: #{percentage(round($i*8.33)/100)};
      float: left;
    }
  }
}

/* -------------------------------- 

Panel

-------------------------------- */

.panel-footer {
  background-color: white;
}

/* -------------------------------- 

Card view


-------------------------------- */
.jp-card {
    min-width:fit-content;
}