/* -------------------------------- 

Navbar

-------------------------------- */

.navbar-logo {

  float: left;
  margin: 5px 15px;

  @media (min-width:$grid-float-breakpoint) {
    margin: 5px 15px 5px 0px;
  }

  img {
    height: 50px;
  }
}

@media (min-width:$grid-float-breakpoint) {
  .main-header.navbar .nav>li>a>.label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    padding: 2px 3px 3px;
    line-height: .9;
  }
}

// Hide header on scroll down, show on scroll up
.navbar.nav-up {
    top: -$navbar-height;
}

// For home page
.frontend-index {
  .navbar {
    background-color: transparent;
    border: 0;

    .navbar-nav > li > a, .navbar-text {
      color: $navbar-default-border;
    }

    .navbar-nav > li > a {
      &:focus, &:hover {
        color: white;
      }
    }

    .navbar-nav > .open > a {
      background-color: transparent;

      &:focus, &:hover {
        background-color: transparent;
      }
    }
  }

  .container.messages {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
  }
}

// Notification dropdown
.navbar-default .dropdown-menu.notify-drop {
  min-width: 300px;
  max-height: 360px;
  padding: 0;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  max-height: 265px;
  overflow-y: auto;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid $navbar-default-border;
  padding: 10px 0px;
  border-radius: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: darken($body-bg, 3%);
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: darken($body-bg, 10%);
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid $navbar-default-border;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  text-decoration: none;
}

/* -------------------------------- 

Header

-------------------------------- */

 header {
  min-height: auto;
  background-color: $brand-dark;
  background-image: url("img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
  text-align: center;

  .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 100px 15px;

    .header-content-inner h1 {
      margin-top: 0;
    }
  }
}

@media (min-width:$grid-float-breakpoint) {
  header {
    min-height: 100vh;

    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;

      .header-content-inner {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/* -------------------------------- 

Footer

-------------------------------- */

footer {
  background-color: #4F4F4F;
  color: $navbar-default-border;
  padding: 15px 0 10px;

  a {
    color: white;
    &:focus, &:hover, &.active {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .footer-logo {
    display: block;
    margin-bottom: 10px;

    img {
      height: 100%;
      max-height: 50px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
.footer-bottom {
  background-color: $brand-dark;
  color: white;
  padding: 10px 0;
}

/* -------------------------------- 

Horizontal ruler

-------------------------------- */

hr.short {
  max-width: 50px;
  border-width: 3px;
}

/* -------------------------------- 

Download section

-------------------------------- */

section.download .badges .badge-link img {
  height: 60px;
}

/* -------------------------------- 

Home page cta

-------------------------------- */

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url(../img/bg-cta.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .cta-content {
    position: relative;
    z-index: 1;
    h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: #fff;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}

@media (min-width: $grid-float-breakpoint) {
  section.cta .cta-content h2 {
    font-size: 70px;
  }
}

/* -------------------------------- 

@media only print

-------------------------------- */

@media only print {
  .print-hidden {
    visibility: hidden;
  }
  .print-visible {
    visibility: visible;
  }
}

/* -------------------------------- 

Payment Options

-------------------------------- */

.paymentWrap {
  .paymentBtnGroup {
    .paymentMethod {
      padding: 40px;
      box-shadow: none;
      position: relative;
      .method {
        position: absolute;
        right: 3px;
        top: 3px;
        bottom: 3px;
        left: 3px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid transparent;
        transition: all 0.5s;
        &:hover {
          border-color: $brand-primary;
          outline: none !important;
        }
      }
      .method.visa {
        background-image: url("img/payment/visa.svg");
      }
      .method.master-card {
        background-image: url("img/payment/mastercard.svg");
      }
      .method.amex {
        background-image: url("img/payment/amex.svg");
      }
      .method.ez-cash {
        background-image: url("img/payment/ezcash.svg");
      }
    }
    .paymentMethod.active {
      outline: none !important;
      .method {
        border-color: $brand-primary;
        outline: none !important;
        box-shadow: 0px 3px 5px 0px $brand-dark;
      }
    }
  }
}
