/* -------------------------------- 

Navbar

-------------------------------- */

 .navbar-logo {

  float: left;
  margin: 5px 15px;

  img {
    height: 50px;
  }
}

// Hide header on scroll down, show on scroll up
.navbar.nav-up {
    top: -$navbar-height;
}

// For home page
.frontend-index {
  .navbar {
    background-color: transparent;
    border: 0;

    .navbar-nav > li > a, .navbar-text {
      color: $navbar-default-border;
    }

    .navbar-nav > li > a {
      &:focus, &:hover {
        color: white;
      }
    }

    .navbar-nav > .open > a {
      background-color: transparent;

      &:focus, &:hover {
        background-color: transparent;
      }
    }
  }

  .container.messages {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
  }
}

/* -------------------------------- 

Header

-------------------------------- */

 header {
  min-height: auto;
  background-color: #393939;
  background-image: url("img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
  text-align: center;

  .header-content {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 100px 15px;

    .header-content-inner h1 {
      margin-top: 0;
    }
  }
}

@media (min-width:$grid-float-breakpoint) {
  header {
    min-height: 100vh;

    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;

      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/* -------------------------------- 

Footer

-------------------------------- */

footer {
  background-color: #4F4F4F;
  color: white;
  padding: 15px 0 10px;

  .footer-logo {
    display: block;
    margin-bottom: 10px;

    img {
      height: 100%;
      max-height: 50px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
.footer-bottom {
  background-color: #393939;
  color: white;
  padding: 10px 0;
}

/* -------------------------------- 

Horizontal ruler

-------------------------------- */

hr.short {
  max-width: 50px;
  border-width: 3px;
}

/* -------------------------------- 

Download section

-------------------------------- */

section.download .badges .badge-link img {
    height: 60px;
}